.list-header{
	color: green;
	font-family: Verdana, Georgia, Serif;
}

#intro-paragraph{
	color:blue;
}

.grocery-list li {
	display:inline;
}

a:link {
	color: pink;
}

a:visited {
	color: orange;
}

header{
	color: green;
}

body{
	background-color:#ebe8dd;
}

img {
	padding: 20px;
}

ul {
	font-size: 20;
	color: blue;

}

footer {
	margin: 0 auto;
	text-align: center;
	clear: both;
	color: red;
}


.round{
	padding:0;margin:0;
	width: 200px;
	height: 200px;
	border-radius: 100px;
	overflow:hidden; /** This will hide anything inside it that OVERFLOWS */
	margin-left: 20px;
	border: solid black;

}

#synopsis {
	float: left;
	width: 33%;
}

#main {
	float:left;
	width: 33%;
}

#sidebar {
	float: left;
	width: 33%;
}